/* ask for a quote module admin styles */
#custom_email_list {
	background:#FFF;
	border:1px solid #CCC;
	margin:5px 0 0 18px;
	width:330px;
}
.customaddress {
	background:#EEE;
	padding:2px;
	float:left;
	margin:5px;
	border-radius:5px;
	width:150px;
}
.customaddress:hover {
	background: #F99;
}
.customaddress input {
	border:none;
	background:none;
	box-shadow:none;
	float:left;
	width:128px !important;
}
.customaddress span img {
	padding:5px 0 0 3px;
	vertical-align:middle;
	cursor:pointer;
	float:left;
}

.quotegroup {
	background:#EEE;
	border:1px solid #CCC;
	padding:5px;
	border-radius:5px;
	margin-bottom:20px;
	position:relative;
}
.quotegroup .delete_quote {
	position:absolute;
	right:5px;
	top:3px;
}
.quotegroup h4 {
	font-weight:bold;
}
.quotegroup h4 span.date {
	font-weight:normal;
	float:right;
	font-size:13px;
}
.quotegroup .comment {
	margin-bottom:10px;
}

.quote_summary {
	border:1px solid #CCC;
	background:#FFF;
	width:100%;
}
.quote_summary th {
	background:#999 !important;
	color:#FFF;
}
.quote_summary tfoot td {
	background:#EEE;
	font-weight:bold;
}
.quote_summary th.first_item {
	width:20px;
}
.quote_summary th.last_item {
	width:50px;
}
.quote_summary th.bargaincol {
	width:1px;
}
.quote_summary th.lastprice {
	width:25%;
}
.quote_summary td.footer_price {
	text-align:right;
}

.hiddenforms {
	position:absolute;
	background:#F4F8FB;
	border:1px solid #CCC;
	border-radius:5px;
	padding:5px;
	box-shadow:0 0 5px 0 #CCC;
	max-width:70%;
	z-index:1000;
}
.hiddenforms h4 {
	cursor:move;
	margin:5px 0 !important;
}
.hiddenforms a.close {
	float:right;
	cursor:pointer;
}
.hiddenforms label, .hoddenforms textarea {
	float:none;
	text-align:left;
	clear:left;
}
.well {
	float:left;
	width:30%;
	margin:0 5%;
	background:#EEE;
}
.detailsform fieldset {
	padding:0 !important;
}
.detailsform .empty {
	padding:5px !important;
}