/*
Special styles for Ask for a quote module
Request Offer Box in right column
*/

#quote_block p#noquote {
	padding:2px 5px;
}
#quote_block #requestTable {
}
#quote_block #requestTable td {
	padding:2px 0px;
	border-bottom:1px dotted #CCC;
	vertical-align: text-top;
}
#quote_block a.ajax_cart_block_remove_link:hover {text-decoration:none;}
#quote_block p {
	padding:0;
}
#quote_block #submitbox, #chckout a.button {
	margin:10px 0 0 0;
}
#chckout a.button {
	float:right;
}

/* for Presta 1.4 feedback */
div.ask_offer {
	position:relative;
}
div.qsuccess {
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	right:20px;
	background:url("../img/saved.png") no-repeat;
}

/* override */
#quote_block .buttons_bottom_block {
	padding:0;
}