/*
Special styles for Ask for a quote module - PrestaShop 1.6 version
*/

#opc_account_form p {
	margin:10px 0 0 0 !important;
}
#opc_account_form .form-control, #login_form .form-control {
	max-width:271px;
}
p.radio {
	padding-left:0;
}
p.radio label {
	font-weight:bold;
}
#opc_account_form .row {
	margin:0 -5px;
}
#opc_account_form .col-xs-4 {
	max-width:94px;
	padding:0 5px;
}
.checkbox {
	clear:both;
	margin-bottom:10px !important;
}
.remove_link a {
	display:block;
	width:11px;
	height:13px;
}
.cart_description h5 {
	font-weight:bold;
}

.simple-column {
	position:relative;
}
.simple-column .hideout {
	position:absolute;
	height:1px;
	display:block;
	overflow:hidden;
}

/* top box styles */
#topquotecontainer {
	margin-top:50px;
	position:relative;
}
#topquotecontainer a i {
	color: #FFFFFF;
    display: inline-block;
    font-size: 23px;
    line-height: 23px;
    padding-right: 10px;
}
#topquotecontainer > a:first-child:after {
	color: #686666;
    content: "";
    display: inline-block;
    float: right;
    font-family: "FontAwesome";
    font-size: 18px;
    padding: 6px 0 0;
}
#topquotecontainer > a:first-child {
    background: #333333;
    color: #777777;
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding: 7px 10px 14px 12px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
#topquotecontainer > a strong {
    color: #FFFFFF;
    font: 600 18px/22px "Open Sans",sans-serif;
    padding-right: 5px;
}
#topquotecontainer #quote_block {
    background:#484848;
    color: #9C9B9B;
    display: none;
    height: auto;
    position: absolute;
    right: 0;
    z-index: 100;
	left:15px;
	right:15px;
	padding:5px;
	min-width:170px;
}
#topquotecontainer #quote_block a {
    color: #FFFFFF;
	text-decoration:none;
}
#topquotecontainer #quote_block a:hover {
    color: #9C9B9B;
}
#topquotecontainer #chckout a, #topquotecontainer #chckout form input {
	float:none;
	margin:10px auto 0 auto;
	width:100%;
	text-align:center;
}

/* admin styles */
.conf_title, .margin-form {
}
.conf_title {width:240px; position:absolute}
.margin-form {margin:0 0 20px 240px;}
.clear {clear:both}
input#custom_email {width:240px;float:left}
.plusimg {float:left}
#custom_email_list {margin-left:0;}

table.table th {
	background:#EEE;
	border-bottom:1px solid #FFF;
}
.customer_details {margin-right:20px !important;}

@media (max-width: 900px) {
	.conf_title {position:inherit}
	.margin-form {margin:0 0 20px 0;}
	.customer_details {margin-right:0 !important;}
}

@media (min-width: 768px) and (max-width: 1199px) {
	#topquotes strong {
		font-size:14px !important;
	}
	#topquotes .icon-question-sign {
		display:none;
	}
}